/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2023/10/07 03:37:06 */
nav ul{list-style-type:none;}body{width:960pt;}nav ul{font-size:1.25pc;}p,[class~=image1] 
p,#intro-desc,#image3,nav ul,#input{display:grid;}nav ul{grid-template-columns:1fr 1fr 1fr;}
nav ul{gap:1rem;}#intro-desc{grid-template-columns:1fr 1fr;}
body{background-color:black;}#intro-desc{gap:0 1rem;}.image2 h3,h2,[class~=image1] 
h3,header,#input{text-align:center;}#intro-desc{max-width:750pt;}header{background:url("./images/swiss-valley.jpg");}
header{height:225pt;}#intro-desc{margin-left:1.5rem;}#intro-desc{margin-bottom:1.5rem;}#input,h2,#pref-input,[class~=image1] 
h3{color:white;}#intro-desc{margin-right:1.5rem;}header{font-size:33.333333333px;}
header,p{margin-left:auto;}header,p{margin-bottom:auto;}header,p{margin-right:auto;}header,p{margin-top:auto;}
#intro-desc{margin-top:1.5rem;}nav ul{margin-left:5rem;}header{padding-left:2rem;}header{padding-bottom:2rem;}header{padding-right:2rem;}
header{padding-top:2rem;}#image3,p,[class~=image1] p,[class~=image2] p{justify-content:center;}
:root{--body-fonts:"Sunflower","Trebuchet MS",sans-serif;}h1{padding-bottom:1rem;}h2{padding-top:3rem;}
#image3{align-items:center;}[class~=choice]{display:flex;}nav ul{margin-right:7rem;}nav li{margin-left:5rem;}
nav li{margin-bottom:5rem;}nav li{margin-right:5rem;}nav li{margin-top:0;}#input{margin-left:17.7rem;}
p{max-width:50ch;}#input{margin-right:1rem;}#input{padding-bottom:5rem;}[class~=choice]{justify-content:space-between;}
:checked{width:22.5pt;}#input,#pref-input{font-size:1.1rem;}:checked{height:4.375pc;}#pref-input{margin-right:4rem;}
#pref-input{padding-right:13.5rem;}p{padding-bottom:3rem;}.image2 h3,p{color:white;}footer,textarea{padding-top:1rem;}
footer{background-color:white;}textarea{margin-bottom:1rem;}label{margin-top:2rem;}#pref-input{padding-top:2rem;}
fieldset{margin-bottom:0;}input:invalid{border-left-width:.041666667in;}[class~=twoinput],#pref-input,[class~=image2] 
p{display:grid;}input:invalid{border-bottom-width:.041666667in;}input:invalid{border-right-width:.041666667in;}
input:invalid{border-top-width:.041666667in;}input:invalid{border-left-style:solid;}nav li,#my-submit{padding-left:1rem;}
select:focus,input:focus,textarea:focus{outline:.03125in solid blue;}input:invalid{border-bottom-style:solid;}
input:invalid{border-right-style:solid;}input:invalid{border-top-style:solid;}#my-submit:hover{background-color:lightgreen;}
input:invalid{border-left-color:lightgreen;}input:invalid{border-bottom-color:lightgreen;}
#pref-input{grid-template-rows:1fr 1fr;}[class~=twoinput]{grid-template-columns:1fr 1fr;}#pref-input{gap:1rem;}
input:invalid{border-right-color:lightgreen;}#my-comment{padding-top:4rem;}input:invalid{border-top-color:lightgreen;}
input:invalid{border-image:none;}[class~=twoinput]{padding-bottom:2rem;}select:invalid{border-left-width:.041666667in;}
select:invalid{border-bottom-width:.041666667in;}#my-comment{padding-bottom:1rem;}nav li,#my-submit,footer p{padding-bottom:1rem;}
select:invalid{border-right-width:.041666667in;}select:invalid{border-top-width:.041666667in;}
nav li,#my-submit,footer p{padding-right:1rem;}select:invalid{border-left-style:solid;}nav li:hover{font-weight:bold;}
select:invalid{border-bottom-style:solid;}#my-submit,footer p,nav li{padding-top:1rem;}select:invalid{border-right-style:solid;}
select:invalid{border-top-style:solid;}select:invalid{border-left-color:lightgreen;}select:invalid{border-bottom-color:lightgreen;}
select:invalid{border-right-color:lightgreen;}select:invalid{border-top-color:lightgreen;}nav li:link{color:blue;}
select:invalid{border-image:none;}textarea:invalid{border-left-width:.041666667in;}textarea:invalid{border-bottom-width:.041666667in;}
textarea:invalid{border-right-width:.041666667in;}textarea:invalid{border-top-width:.041666667in;}textarea:invalid{border-left-style:solid;}
textarea:invalid{border-bottom-style:solid;}textarea:invalid{border-right-style:solid;}textarea:invalid{border-top-style:solid;}
textarea:invalid{border-left-color:lightgreen;}textarea:invalid{border-bottom-color:lightgreen;}nav li:visited{color:red;}
textarea:invalid{border-right-color:lightgreen;}textarea:invalid{border-top-color:lightgreen;}footer p{padding-left:1rem;}
textarea:invalid{border-image:none;}span{color:lightskyblue;}footer p{color:black;}